{{define "style"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
<style>
    section.pico {
        margin: 0 auto;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: rgb(39, 42.5, 50.5);
        width: 100%;
        max-width: 600px;
    }

    .auth-links {
        display: flex;
        /* Use flexbox layout */
        justify-content: space-between;
        /* Spread out items with space in between */
        width: 100%;
        /* Ensure the container takes up the full width */
    }

    .auth-links p {
        font-size: medium;
        margin: 0;
        /* Remove default margin */
    }

    .error p {
        font-size: large;
        color: lightcoral;
    }
</style>
{{end}}
{{define "page"}}
<section class="pico">
    <h2>Edit gallery</h2>
    {{if errors}}
    {{range errors}}
    <div class="error">
        <p>{{.}}</p>
    </div>
    {{end}}
    {{end}}
    <form action="/galleries/{{.Hash}}" method="post">
        <label for="title">Title</label>
        <input id="title" type="title" name="title" placeholder="{{.Title}}" aria-label="title" required autofocus />
        {{csrfField}}
        <button type="submit">Change</button>
    </form>
</section>
{{end}}