<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  {{template "style" .}}
  <title>Hello world!</title>
</head>

<body>
  <header class="container">
    <nav>

      <ul>
        <li>
          <h1>LOGO!</h1>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/galleries">Galleries</a></li>
      </ul>
      <ul>
        {{ if not currentUser}}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/signin">Sign in</a></li>
        {{else}}
        <li><a href="/signout">Sign out</a></li>
        {{end}}
      </ul>
    </nav>
  </header>
  <main class="container">
    {{template "page" .}}
  </main>
</body>

</html>