{{define "style"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
<style>
  section.pico {
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(39, 42.5, 50.5);
    width: 100%;
    max-width: 600px;
  }

  .auth-links {
    display: flex;
    /* Use flexbox layout */
    justify-content: space-between;
    /* Spread out items with space in between */
    width: 100%;
    /* Ensure the container takes up the full width */
  }

  .auth-links p {
    font-size: medium;
    margin: 0;
    /* Remove default margin */
  }
</style>
{{end}}
{{define "page"}}
<section class="pico">
  <h2>Create account</h2>
  <form action="/signup" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter Email" aria-label="email address" autocomplete="email" required
      {{if .Email}}value="{{.Email}}" {{else}} autofocus {{end}} />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password" aria-label="password" required {{if .Email}}
      autofocus {{end}} />
    <label for="password-repeat">Repeat Password</label>
    <input type="password" name="password-repeat" placeholder="Repeat Password" aria-label="password" required />
    {{csrfField}}
    <button type="submit">Sign Up</button>
  </form>
  <div class="auth-links">
    <p>Have an account? <a href="/signin">Log in</a></p>
    <p>Forgot your password? <a href="/password-reset">Reset password</a></p>
  </div>
</section>
{{end}}