{{define "style"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
<style>
    section.pico {
        margin: 0 auto;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: rgb(39, 42.5, 50.5);
        width: 100%;
        max-width: 600px;
    }

    .auth-links {
        display: flex;
        /* Use flexbox layout */
        justify-content: space-between;
        /* Spread out items with space in between */
        width: 100%;
        /* Ensure the container takes up the full width */
    }

    .auth-links p {
        font-size: medium;
        margin: 0;
        /* Remove default margin */
    }
</style>
{{end}}
{{define "page"}}
<section class="pico">
    <h2>New password</h2>
    <form action="/update-password" method="post">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Enter Password" aria-label="password" required
            autofocus />
        <label for="password-repeat">Repeat Password</label>
        <input id="password-repeat" type="password" name="password-repeat" placeholder="Repeat Password"
            aria-label="password" required />
        {{csrfField}}
        {{if .Token}}
        <input name="token" value="{{.Token}}" hidden />
        {{end}}
        <button type="submit">Change password</button>
    </form>
</section>
{{end}}